html {
	font-size: 18px;
	font-family: monospace;
}

.task-list-status {
	background-color: beige;
	border: 2px solid slategray;
	margin: 12px;
}

.task-list {
	display: flex;
}

.task {
	border: 4px solid slategray;
	margin: 4px;
}

input,
button {
	margin: 4px;
	font-size: inherit;
}

h3 {
	margin: 6px 4px;
}

hr {
	border: 1px solid slategray;
}
